@import "tailwindcss";

@theme {
  --color-uno-red: #dc2626;
  --color-uno-yellow: #eab308;
  --color-uno-green: #16a34a;
  --color-uno-blue: #2563eb;
  --color-uno-dark: #0f172a;
}

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply bg-slate-900 text-white antialiased;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
